absl-py==0.9.0
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
bleach==1.5.0
certifi==2020.6.20
chardet==3.0.4
cloudpickle==1.3.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
html5lib==1.0b8
idna==2.7
imageio==2.4.1
importlib-metadata==1.4.0
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.2
Jinja2==2.10.3
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==5.1.0
jupyter-core==4.6.1
kiwisolver==1.1.0
lxml==4.2.6
Markdown==3.1.1
MarkupSafe==1.1.1
mat73==0.41
matplotlib==3.1.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.1.0
nbconvert==5.6.1
nbformat==5.0.3
networkx==2.4
notebook==6.0.1
numpy==1.17.3
olefile==0.46
pandas==1.1.2
pandocfilters==1.4.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.3.0
progressbar2==3.38.0
prometheus-client==0.7.1
prompt-toolkit==3.0.2
protobuf==3.11.2
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.4.6
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.15.7
python-dateutil==2.8.1
python-utils==2.3.0
pytz==2020.1
PyWavelets==1.1.1
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.19.1
scikit-image==0.14.5
scikit-learn==0.20.4
scipy==1.1.0
Send2Trash==1.5.0
six==1.13.0
tensorboard==1.8.0
tensorflow-gpu==1.8.0
tensorlayer==1.11.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
tqdm==4.27.0
traitlets==4.3.3
urllib3==1.23
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.10.11
zipp==1.0.0
